<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd"
       default-autowire="byName">

    <context:component-scan base-package="org.codeworks.dsp">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"></context:exclude-filter>
    </context:component-scan>

    <context:annotation-config/>

    <bean id="propertiesFactory"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath*:config/props/*.properties</value>
            </list>
        </property>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:message/validateMessage"/>
        <property name="fileEncodings" value="UTF-8"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
        <property name="cacheSeconds" value="3600"/>
    </bean>

    <bean id="propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="properties" ref="propertiesFactory"/>
    </bean>

    <import resource="spring-profile.xml"/>

    <import resource="spring-db-config.xml"/>

    <import resource="spring-data-jpa.xml"/>

    <!--<import resource="spring-redis.xml"/>-->

    <!--<import resource="spring-session.xml"/>-->

    <!--<import resource="spring-rabbitmq.xml"/>-->

    <import resource="spring-qiniu.xml"/>

    <import resource="spring-scheduler.xml"/>

    <import resource="spring-aop.xml"/>

    <import resource="spring-beans.xml"/>

    <import resource="spring-druid.xml"/>

    <import resource="spring-cache.xml"/>

</beans>