<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->

    <aop:aspectj-autoproxy/>

    <bean id="campaignForRtbInterceptor" class="org.codeworks.dsp.interceptor.CampaignForRtbInterceptor"/>
    <bean id="advertiserForRtbInterceptor" class="org.codeworks.dsp.interceptor.AdvertiserForRtbInterceptor"/>
    <bean id="materialForRtbInterceptor" class="org.codeworks.dsp.interceptor.MaterialForRtbInterceptor"/>

</beans>